server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/vendor_db
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true